.container {
  display: block;
  line-height: 2;
}

.identifier {
  color: var(--color-neutrals-700);

  :global(.dark-mode) & {
    color: var(--color-dark-700);
  }
}

.type {
  padding: 0.125rem;
  border-radius: 0.125rem;
  color: var(--color-green-500);
  background: var(--color-green-050);

  :global(.dark-mode) & {
    color: var(--color-green-600);
    background: var(--color-green-100);
  }
}

.comment {
  color: var(--color-neutrals-500);

  > p {
    display: inline;
  }

  :global(.dark-mode) & {
    color: var(--color-dark-600);
  }
}

.keyword,
.bracket,
.operator {
  color: var(--color-neutrals-600);

  :global(.dark-mode) & {
    color: var(--color-dark-600);
  }
}

.block {
  margin-left: 1rem;
}

.string {
  color: var(--color-green-500);

  :global(.dark-mode) & {
    color: var(--color-green-200);
  }
}

.number {
  color: var(--color-red-400);
}
