.container {
  display: block;
  line-height: 2;
}

.identifier {
  color: var(--color-neutrals-700);
}

.type {
  color: var(--color-green-500);
  background: var(--color-green-050);
}

.comment {
  color: var(--color-neutrals-500);

  > p {
    display: inline;
  }
}

.keyword,
.bracket,
.operator {
  color: var(--color-neutrals-600);
}

.block {
  margin-left: 1rem;
}
