{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "babel-plugin-prismjs",
      {
        "languages": [
          "css",
          "javascript",
          "json",
          "jsx",
          "ruby",
          "shell",
          "sql"
        ]
      }
    ]
  ]
}
