.tile {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background: var(
    --surface-background-color,
    var(--primary-surface-background-color)
  );
  box-shadow: var(--boxshadow);
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  position: relative;

  button:hover {
    transform: translateY(-1px);
  }
}

.tileWithIcon h2 {
  margin-top: 1rem;
}

.title,
.description {
  text-align: center;
}

.timeEstimate {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--accent-text-color);
  padding: 0.3rem 0 0.2rem 1.2rem;
  justify-self: end;
}

.iconContainer {
  position: absolute;
  top: -2.75rem;
  left: 50%;
  margin-left: -2.75rem;
  width: 5.5rem;
  height: 5.5rem;
  border: 4px solid var(--surface-background-color);
  background-color: var(--tertiary-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--secondary-text-color);
  flex: 1;
  padding: 0 0.5rem;
}

.button {
  justify-self: center;
}

.timeIcon {
  margin-right: 0.25rem;
}
