.tile {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: white;
  box-shadow: var(--boxshadow);
  padding: 1rem;
  border: 1px solid var(--color-neutrals-300);
  border-radius: 0.25rem;
  position: relative;
}

.tileWithIcon h2 {
  margin-top: 1rem;
}

.timeEstimate {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--color-neutrals-500);
  padding: 0.3rem 0 0.2rem 1.2rem;
  justify-self: end;
}

.iconContainer {
  position: absolute;
  top: -2.75rem;
  left: 50%;
  margin-left: -2.75rem;
  width: 5.5rem;
  height: 5.5rem;
  border: 4px solid var(--color-white);
  background-color: var(--color-neutrals-200);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--color-neutrals-600);
  flex: 1;
}

.button {
  justify-self: center;

  &:hover {
    transform: translateY(-1px);
  }
}

.timeIcon {
  margin-right: 0.25rem;
}

.tileLeftAligned {
  .title,
  .description {
    text-align: left;
  }
  .description {
    padding: 0;
  }
}

.tileCenterAligned {
  .title,
  .description {
    text-align: center;
  }
  .description {
    padding: 0 0.5rem;
  }
}
