.container {
  display: flex;
  justify-content: center;
  padding-right:20px;
}

.countdownContainer {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  padding-top:20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 1.25rem;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.countdownUnit {
  padding:0;
  margin:0;
}

.colons {
  font-size: 1.8rem;
  color: var(--heading-text-color);
}

.countdownUnit > span{
  font-size: 1.8rem;
  color: var(--heading-text-color);
}