.mdxContainer {
  > *:first-child {
    margin-top: 0;
  }

  code {
    padding: 0.125rem;
    background: var(--tertiary-background-color);
    border-radius: 2px;
  }

  p:last-child {
    margin-bottom: 0;
  }
  h1,
  h2 {
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  h3,
  h4 {
    margin-top: 1rem;
    font-weight: bold;
  }

  li {
    margin-bottom: 1rem;
  }

  ul li ul {
    margin-top: 1rem;
    line-height: 1;
  }

  hr {
    border: 0;
    border-bottom: 1px solid var(--divider-color);
  }
}

.header {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1080px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.duration {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.clock {
  margin-right: 0.25rem;
}
