.mdxContainer {
  margin-top: 2rem;
  ul {
    padding-left: 30px;
    line-height: 1.6;
  }

  li {
    margin-bottom: 1rem;
  }

  ul li ul {
    margin-top: 1rem;
    line-height: 1;
  }
}

.duration {
  color: var(--color-neutrals-600);
  text-align: right;

  &:before {
    content: '';
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.5rem;
    vertical-align: bottom;
    background-image: url('../images/clock.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
