.section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.twoColumn {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 2rem;

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}

.img {
  width: 100%;
}

.headshot {
  height: auto;
  width: 75%;
}

.assetTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  @media (max-width: 760px) {
    display: block;
    text-align: center;
  }
}

.point {
  text-align: left;
  width: 100%;

  @media (max-width: 760px) {
    margin-bottom: 40px;
  }
}

.externalLinkIcon {
  margin-left: 0.5rem;
}

.point h4 {
  min-height: 3rem;
}

.highlightDiv {
  margin: auto;
}

hr {
  opacity: 0.2;
}
