.section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.twoColumn {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 2rem;

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}

.img {
  width: 100%;
}

.championProgram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  @media (max-width: 760px) {
    display: block;
    text-align: center;
  }
}

.point {
  text-align: center;
  max-width: 400px;
  margin: auto;

  @media (max-width: 760px) {
    margin-bottom: 40px;
  }
}

.pointIcon {
  --feather-icon-stroke-width: 1;

  margin-bottom: 2rem;
  color: var(--color-brand-500);
}

.nominateButton {
  grid-column: 2;
  justify-self: center;
}

.externalLinkIcon {
  margin-left: 0.5rem;
}
