.intro {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2rem;

  @media (max-width: 1080px) {
    flex-direction: column;
  }
}

.introText {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.guideListing {
  --guide-list-row-height: auto;

  margin-top: 0;
}

.guideListingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  @media (max-width: 789px) {
    flex-direction: column;
  }
}

.guideListingHeading {
  margin: 0;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 789px) {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 980px) {
  .getStartedTextFull {
    display: none;
  }
}

.inspiration {
  text-align: center;
  margin-top: 2rem;
}

.externalLink {
  display: inline-flex;
  align-items: center;
}

.externalLinkIcon {
  margin-left: 0.25rem;
}

.section {
  margin-top: 4rem;
}

.stripedSection {
  --surface-background-color: var(--secondary-surface-background-color);

  padding: 2rem;
  background: var(--secondary-background-color);
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.expandGuides {
  margin-top: 2rem;

  &:hover {
    transform: translateY(-1px);
  }
}

.allGuidesListing {
  margin-top: 1rem;
}

.featuredGuide {
  border-color: var(--surface-background-color) !important;

  &:hover {
    transform: unset;
    border-color: inherit;
  }
}

.developerChampions {
  display: flex;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }

  img {
    height: 9rem;
  }
}
