.intro {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;

  @media (max-width: 1080px) {
    flex-direction: column;
  }

  button {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: var(--color-neutrals-600);
  }
}

.introVideo {
  flex: 1;
  margin-top: 0;
}

.introText {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.guideListing {
  --guide-list-row-height: auto;

  margin-top: 0;
}

.guideListingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  @media (max-width: 789px) {
    flex-direction: column;
  }
}

.guideListingHeading {
  margin: 0;
  margin-right: 1rem;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 789px) {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 980px) {
  .getStartedTextFull {
    display: none;
  }
}

.inspiration {
  text-align: center;
  margin-top: 2rem;
}

.externalLink {
  display: inline-flex;
  align-items: center;
}

.externalLinkIcon {
  margin-left: 0.25rem;
}

.section {
  margin-top: 4rem;
}

.stripedSection {
  padding: 2rem;
  background: var(--color-neutrals-100);
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.expandGuides {
  margin-top: 2rem;
}

.allGuidesListing {
  margin-top: 1rem;
}

.featuredGuide {
  &:hover {
    transform: unset;
    border-color: var(--color-neutrals-300);
  }
}
