.pageTitle {
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
  font-family: var(--secondary-font-family);
  font-size: 2.5rem;
  line-height: 2.2rem;
}

.line {
  border-bottom: 4px solid var(--color-brand-800);
  width: 50px;
  margin: auto;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 7rem;

  @media (max-width: 760px) {
    flex-direction: column;
  }

  button {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: var(--color-neutrals-600);
  }
}

.introVideo {
  flex: 1;
  margin-top: 0;
}

.introText {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.guideListingHeading {
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.guideTile {
  box-shadow: none;
  border: 1px solid var(--color-neutrals-300);
  border-radius: 0.25rem;
}

.backgroundBanner {
  height: 125%;
  top: 1rem;
}
