.indexPage-h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.mobile {
  display: none;
}
@media (max-width: 500px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
.indexPage-grid {
  margin: 5% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.indexPage-grid-guide {
  justify-self: center;
  height: 250px;
  width: 375px;
  background: rgb(178, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}
