.heroCtaContainer {
  padding: 0 48px;
  margin: 25px 0 30px;
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.heroCtaContainerItem {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }
}

.registrationButtonDate {
  margin-top: 4px;
  font-size: 10px;
  opacity: 0.75;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sectionHeading {
  font-size: 28px;
  text-align: center;

  .alternateSection & {
    padding: 0 32px;
  }
}

.sectionDescription {
  margin-bottom: 40px;
  text-align: center;
  color: var(--nr1--base-colors--ui--gray--3);
  font-size: 16px;
  line-height: 25px;

  .alternateSection & {
    padding: 0 32px;
  }
}

.speakerList {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eyeIcon,
.cloudMigrationIcon {
  stroke: url(#nerdDaysGradient);
  stroke-width: 1.12px;
}

.tracksList {
  max-width: 980px;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tracksListItem {
  display: flex;
  max-width: 175px;
  margin: 24px 32px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.trackIcon {
  margin-bottom: 14px;
}

.tracksListItemName {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.75px;
  font-weight: bold;
}

.agendaContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.agendaHeaderRow {
  display: grid;
  grid-template-columns: 0.75fr repeat(5, 1fr);
  grid-template-areas: '. header1 header2 header3 header4 header5';
}

.agendaHeaderRowHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 12px;
  grid-area: auto;
  text-align: center;
  color: #006c75;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: #f4f5f5;
  box-shadow: 0 0 0 1px #cbcfcf;
}

.agendaHeaderRowHeading1 {
  grid-area: header1;
}

.agendaHeaderRowHeading2 {
  grid-area: header2;
}

.agendaHeaderRowHeading3 {
  grid-area: header3;
}

.agendaHeaderRowHeading4 {
  grid-area: header4;
}

.agendaHeaderRowHeading5 {
  grid-area: header5;
}

.agendaRow {
  display: grid;
  grid-template-columns: 0.75fr repeat(5, 1fr);
}

.agendaSession {
  padding: 14px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 0 1px #cbcfcf;
  background-color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agendaSessionSpeaker {
  display: block;
  content: attr(data-speaker);
  margin-top: 1px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: normal;
  color: #464e4eb0;
  user-select: text;
}

.agendaSessionMetaList {
  display: none;
  justify-content: center;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  font-weight: normal;
}

.agendaSessionMetaListItem {
  margin: 0 4px;
  padding: 1px 8px;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 50px;
  color: #555;
}

.agendaSession5Col {
  grid-column: span 5;
}

.agendaSession4Col {
  grid-column: span 4;
}

.agendaSession3Col {
  grid-column: span 3;
}

.agendaSession2Col {
  grid-column: span 2;
}

.agendaTime {
  padding: 16px 0 16px 20px;
  box-shadow: 0 0 0 1px #cbcfcf;
  font-weight: 700;
  margin: 0;
  color: #333;
  background-color: #f4f5f5;
  display: flex;
  align-items: center;
}

.agendaSessionSecondary {
  background-color: #f4f5f5;
}

.engagementSection {
  padding-bottom: 30px;
  text-align: center;
}

.engagementOptions {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0;
}

.engagementOption {
  margin: 10px 12px;
  border: 3px solid #006c75;
  border-radius: 4px;
  box-shadow: 0 15px 20px rgba(4, 89, 97, 0.1),
    0px 6.26664px 8.35552px rgba(4, 89, 97, 0.0718854),
    0px 3.35045px 4.46726px rgba(4, 89, 97, 0.0596107),
    0px 1.87823px 2.50431px rgba(4, 89, 97, 0.05),
    0px 0.997515px 1.33002px rgba(4, 89, 97, 0.0403893),
    0px 0.415088px 0.553451px rgba(4, 89, 97, 0.0281146);
  transition: transform 0.095s ease-out;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(2px);
  }
}

.engagementOptionLink {
  display: inline-flex;
  align-items: stretch;
  height: 40px;
  font-weight: 600;
}

.engagementOptionLabel {
  font-size: 20px;
  display: inline-flex;
  padding: 6px 14px;
  align-items: center;
}

.engagementOptionIconContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 11px 0 24px;
  background-color: #006c75;
  border-right: 1px solid #006c75;
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.engagementOptionIcon {
  .engagementOptionForum & {
    stroke-width: 2.5px;
  }
}

.sponsorLogoContainer {
  display: block;
  width: 200px;
  margin: 10px auto 0;
  margin-top: 10px;
}

.sponsorLogoCaption {
  color: #999;
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 1100px) {
  .heroLogoContainer {
    max-width: 300px;
  }

  .agendaHeaderRowHeading {
    word-break: break-all;
  }

  .agendaHeaderRowHeading {
    padding: 8px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.25px;
  }

  .agendaSession,
  .agendaTime {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }

  .agendaSessionSpeaker {
    font-size: 10px;
  }

  .agendaTime {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .agendaTime,
  .agendaHeaderRow {
    display: none;
  }

  .agendaRow {
    grid-template-columns: 1fr;
  }

  .agendaSession {
    font-size: 16px;
    display: block;
  }

  .agendaSession5Col {
    grid-column: span 1;
  }

  .agendaSession4Col {
    grid-column: span 1;
  }

  .agendaSession3Col {
    grid-column: span 1;
  }

  .agendaSession2Col {
    grid-column: span 1;
  }

  .agendaSessionSpeaker {
    display: inline;
    margin-left: 6px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 13px;

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }

  .agendaSessionMetaList {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .heroLogoContainer {
    margin: 0;
    max-width: 220px;
    border-radius: 0 0 16px 16px;
  }

  .heroCtaContainer {
    flex-direction: column;
  }

  .heroCtaContainerItem {
    margin: 16px 0 0;
  }

  .sectionHeading {
    font-size: 24px;
  }
}
