.section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.twoColumn {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, calc(50% - 1rem));

  @media (max-width: 760px) {
    grid-template-columns: 1fr
  }
}

.bodyText {
  @media (max-width: 760px) {
    order: 1;
  }
}

.img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;

  @media (max-width: 760px) {
    order: 0;
  }
}

.player iframe {
  width: 100%;
  height: 421px;
  border: none;
}
