.section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.twoColumn {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 2rem;
}

.img {
  width: 100%;
}

.player iframe {
  width: 100%;
  height: 421px;
  border: none;
}
