.section {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  
  .twoColumn {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    grid-gap: 2rem;
  
    @media (max-width: 760px) {
      grid-template-columns: 1fr;
    }
  }
  
  
  .meetTheTeam {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(2, 1fr)
    }
  
    @media (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr)
    }
  }

  .socials {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
  }

  .socials > li {
    display: inline;
    margin: 0 5px;
    padding: 0;
  }

  .socials > li:first {
    margin-left: 0;
  }

  .avatar {
      max-width: 150px;
      height: auto;
      border-radius: 50%;
  }
  
  .point {
    text-align: center;
    max-width: 400px;
    min-height: 575px;
  
    @media (max-width: 760px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1200px) {
        min-height: auto;
    }
  }
  
  .pointIcon {
    --feather-icon-stroke-width: 1;
  
    margin-bottom: 2rem;
    color: var(--color-brand-500);
  }
  
  .externalLinkIcon {
    margin-left: 0.5rem;
  }
  
  .meetTheRelicansHeading {
    text-align: left;
    margin-bottom: 30px;
  }

  .relicansProfileTile {
    background-color: var(--primary-background-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 1.25rem;
  }
