.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 3px;
  font-family: var(--primary-font-family);
  line-height: 1;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.primary {
  color: var(--color-white);
  border-color: var(--color-brand-800);
  background-color: var(--color-brand-800);
}

.normal {
  color: var(--color-neutrals-800);
  border-color: var(--color-neutrals-100);
  background-color: var(--color-neutrals-100);

  :global(.dark-mode) & {
    color: var(--color-white);
    border-color: var(--color-dark-100);
    background-color: var(--color-dark-100);
  }
}

.plain {
  color: var(--color-brand-800);
  border-color: transparent;
  background-color: transparent;

  :global(.dark-mode) & {
    color: var(--color-brand-400);
  }
}
