.caution {
    padding: 5px 5px 20px 20px;
    margin: 25px 50px 25px 20px;
    border-left: 4px solid var(--color-red-400);
    background: var(--color-red-100);
    h4 {
        color: var(--color-red-700) !important;
    }
}

.important {
    padding: 5px 5px 20px 20px;
    margin: 25px 50px 25px 20px;
    border-left: 4px solid var(--color-yellow-400);
    background: var(--color-yellow-100);
    h4 {
        color: var(--color-yellow-800) !important;
    }
}

.tip {
    padding: 5px 5px 20px 20px;
    margin: 25px 50px 25px 20px;
    border-left: 4px solid var(--color-green-400);
    background: var(--color-green-100);
    h4 {
        color: var(--color-green-700) !important;
    }
}
