.container {
  color: var(--code-console-text-primary);
  font-family: var(--code-font);
  font-size: 0.75rem;
  display: block;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  text-shadow: none;
  padding: 1rem;

  > code {
    display: table;
    width: 100%;
    padding: 0 !important;
    background: none !important;
  }

  :global(.light-mode) & {
    color: var(--color-background);
    background: var(--code-console-text-primary);
  }
}

.lineNumbers {
  :global(.token-line) {
    display: grid;
    grid-template-columns: var(--line-number-width) 1fr;
    grid-gap: 1rem;
  }
}

.lineNumber {
  user-select: none;
  color: var(--color-selection);
  text-align: right;
}

.wrap {
  white-space: pre-wrap;
}

.highlightLine {
  background: var(--color-current-line);

  :global(.light-mode) & {
    background: var(---color-comment);
  }
}

:global {
  .namespace {
    opacity: 0.7;
  }

  .token {
    &.comment,
    &.prolog,
    &.doctype,
    &.cdata {
      color: var(--color-selection);
    }

    &.tag,
    &.class-name {
      color: var(--code-query-syntax-keyword);
    }

    &.function {
      color: var(--code-query-syntax-function);
    }

    &.punctuation,
    &.operator,
    &.keyword,
    &.property,
    &.entity,
    &.atrule,
    &.attr-value,
    &.url {
      color: var(--code-query-syntax-operator);
    }

    &.regex,
    &.important,
    &.variable {
      color: var(--code-query-syntax-regex);
    }

    &.selector,
    &.attr-name,
    &.string,
    &.char,
    &.builtin,
    &.inserted {
      color: var(--code-query-syntax-string);
    }

    &.property,
    &.boolean,
    &.constant,
    &.symbol,
    &.deleted,
    &.number {
      color: var(--code-query-syntax-numeric);
    }

    &.important,
    &.bold {
      font-weight: bold;
    }
    &.italic {
      font-style: italic;
    }
    &.entity {
      cursor: help;
    }
  }
}
