.container {
  line-height: 1rem;
  font-size: 0.75rem;
  max-height: 26rem;
  overflow: auto;
}

.codeContainer {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;

  code {
    display: block;
    padding: 0;
    background: none;
  }
}

.lineNumber {
  display: inline-block;
  width: 1.25rem;
  text-align: right;
  padding-right: 1rem;
  user-select: none;
  opacity: 0.5;
}

.bottomBar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-neutrals-200);
  padding: 0 1rem;
}

.fileName {
  font-family: var(--code-font);
  font-size: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.5rem;
}

.copyButton {
  font-size: 0.75rem;
  color: var(--color-brand-800);
  background: none;
  border: none;
  outline: none;
}

.copyIcon {
  margin-right: 0.5rem;
}
