.container {
  color: var(--secondary-text-color);
  font-size: 0.875rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.name {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.block {
  margin-left: 0.5rem;
}

