.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(28, 42, 47, 0.92);
  box-shadow: 0px -0.249053px 4.26158px rgba(12, 48, 57, 0.0421718),
    0px -0.598509px 10.2412px rgba(12, 48, 57, 0.0605839),
    0px -1.12694px 19.2832px rgba(12, 48, 57, 0.075),
    0px -2.01027px 34.3979px rgba(12, 48, 57, 0.0894161),
    0px -3.75998px 64.3375px rgba(12, 48, 57, 0.107828),
    0px -9px 154px rgba(12, 48, 57, 0.15);
  backdrop-filter: blur(5px);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1.125rem 0;
}

.heading {
  color: #fff;
  margin-top: 0;
  margin-bottom: 2px;
  line-height: 21px;
}

.description {
  margin: 0 0 0px;
  font-size: 13px;
  line-height: 21px;
  color: var(--color-neutrals-500);
}

.ctaContainer {
  margin-left: 1rem;
  flex-shrink: 0;
}

.approvalButton {
  margin-right: 10px;
  padding: 0.625rem 1.75rem;
}

.ignoreButton {
  padding: 0.625rem 1rem;
}

// ==============================================================
// Responsive styles
// ==============================================================
@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    padding: 1.125rem 1.75rem;
  }

  .heading {
    margin-bottom: 0.375rem;
  }

  .description {
    line-height: 19px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .description {
    margin-bottom: 1rem;
  }

  .cta-container {
    margin: 0;
  }

  .approvalButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .ignoreButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--color-neutrals-700);
  }
}

// ==============================================================
// Dark mode
// ==============================================================
:global(.dark-mode) {
  .container {
    background-color: rgba(15, 25, 28, 0.92);
    box-shadow: 0 -1px 0 rgba(55, 72, 78, 0.4);
  }

  .description {
    color: var(--color-neutrals-600);
  }
}
