.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
  z-index: 1;

  @media (max-width: 1080px) {
    flex-direction: column;
  }

  a {
    color: currentColor;
  }
}

.left {
  display: flex;
  align-items: center;

  @media (max-width: 760px) {
    display: block;
  }
}

.logo {
  width: 200px;

  &:hover {
    color: var(--color-neutrals-700);
  }
}

.copyright {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: 1px dotted var(--border-color);

  @media (max-width: 760px) {
    border-left: none;
    margin-left: 0;
    padding: 0.5rem;
  }
}

.right {
  display: flex;

  a {
    padding-right: 0;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.linkIcon {
  margin-right: 0.5rem;
}

.link {
  &:hover {
    color: var(--color-neutrals-700);
  }
}
