.Footer {
  --footer-text-color: #7da5a8;

  background-color: var(--color-neutrals-800);
  color: var(--footer-text-color);
  padding: 1.5rem 0;
  margin-top: 10rem;

  .u-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 760px) {
      justify-content: center;
    }
  }

  .Footer-left {
    display: flex;
    align-items: center;

    @media (max-width: 760px) {
      display: block;
    }
  }

  .Footer-logo {
    width: 195px;
    height: 45px;
    display: inline-block;
    background-image: url('../images/developers-logo-footer.svg');
  }

  .Footer-copyright {
    font-size: 0.75rem;
    margin-left: 1rem;
    padding: 0.75rem 0.5rem;
    border-left: 1px dotted var(--color-neutrals-700);

    @media (max-width: 760px) {
      border-left: none;
      margin-left: 0;
      padding: 0.5rem;
    }
  }

  .Footer-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: var(--footer-text-color);
      text-decoration: none;
      font-size: 0.9rem;
      padding: 0.5rem 0 0.5rem 1rem;
    }

    a:hover {
      color: var(--color-white);
    }
  }

  .Footer-nav {
    @media (max-width: 760px) {
      display: none;
    }
  }
}
