.footer {
  background-color: var(--color-neutrals-800);
  color: var(--color-teal-300);
  padding: 1.5rem 0;
  font-size: 0.75rem;
  z-index: 1;

  :global(.site-container) {
    padding: 0 2rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;

  @media (max-width: 760px) {
    display: block;
  }
}

.logo {
  width: 200px;
}

.copyright {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px dotted var(--color-neutrals-700);

  @media (max-width: 760px) {
    border-left: none;
    margin-left: 0;
    padding: 0.5rem;
  }
}

.right {
  display: flex;

  a {
    color: var(--color-teal-300);
    padding-right: 0;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.linkIcon {
  margin-right: 0.5rem;
}
