.footer {
  background-color: var(--color-neutrals-800);
  color: var(--color-teal-300);
  padding: 1.5rem 0;
  font-size: 0.75rem;

  :global(.site-container) {
    padding: 0 2rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;

  @media (max-width: 760px) {
    display: block;
  }
}

.logo {
  width: 200px;
}

.copyright {
  margin-left: 1rem;
  padding: 0.75rem 0.5rem;
  border-left: 1px dotted var(--color-neutrals-700);

  @media (max-width: 760px) {
    border-left: none;
    margin-left: 0;
    padding: 0.5rem;
  }
}

.right {
  display: flex;

  a {
    color: var(--color-teal-300);
    margin-left: 1rem;
    padding: 0.2rem;
    padding-right: 0;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 0.5rem;
    }
  }
}

.edit:before {
  background-image: url('../images/edit.svg');
}

.issue:before {
  background-image: url('../images/github.svg');
}
