.globalHeaderContainer {
  background-color: var(--color-neutrals-100);

  :global(.site-container) {
    padding: 0 2rem;
  }
}

.globalHeaderContent {
  height: var(--height-global-header);
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 79px;
  height: 15px;
  margin-right: 18px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../images/new-relic-logo.svg');
  border: none;
}

.leftSideLinksContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.leftSideLinks {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

  &:hover .active .left-side-link {
    background-color: transparent;
    color: var(--color-neutrals-600);
  }
}

.leftSideLink {
  display: flex;
  line-height: 22px;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 4px 9px;
  color: var(--color-neutrals-600);
  font-size: 11px;
  border: none;

  &:hover {
    background-color: var(--color-neutrals-200);
    color: var(--color-neutrals-700);
  }

  .active &,
  .leftSideLinks:hover .active &:hover {
    background-color: var(--color-neutrals-200);
    color: var(--color-neutrals-700);
  }
}

.rightSideButtons {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.rightSideButton {
  width: 14px;
  height: 14px;
  text-indent: 300%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  opacity: 0.45;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.1s var(--ease-out-quad);

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  &:last-child {
    padding-right: 0;
    background-position: right;
  }
}

.githubButton {
  display: block;
  width: 15px;
  height: 15px;
  text-indent: 0;
}

.githubButtonLink {
  display: block;
  background-image: url('../images/icon-github.svg');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 1240px) {
  .globalHeaderContainer {
    padding: 0 1.75rem;
  }
}
