.GuideListing {
  position: relative;
  margin-top: 2rem;
}

.GuideListing .u-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GuideListing-heading {
  font-family: var(--secondary-font-family);
  font-weight: 400;
}

.GuideListing-description {
  max-width: 800px;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--color-neutrals-500);
}

.GuideListing-wrap {
  &:before {
    position: absolute;
    left: 0;
    top: 12rem;
    content: '';
    height: 85%;
    background-color: var(--color-neutrals-100);
    width: 100%;
    transform: skewY(-2deg) translateY(-58px);
    z-index: -1;
  }
}

.GuideListing-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(calc(248px - 2rem), auto);
  align-items: stretch;
  width: 100%;

  @media (max-width: 840px) {
    grid-template-columns: 1fr;
  }
}
