.guideGrid {
  margin: 5% auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
}

.guideGrid-guide {
  justify-self: center;
  height: 250px;
  width: 375px;
  background: rgb(136, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
}
