.guideGrid {
  margin: 5% auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
}

.guideGrid-guide {
  justify-self: center;
  height: 200px;
  width: 325px;
  background: rgb(136, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
}
