.tile {
  display: grid;
  grid-template-areas:
    '. . time'
    'main main main';
  background-color: white;
  box-shadow: var(--boxshadow);
  padding: 0.5rem;

  button:hover {
    transform: translateY(-1px);
  }
}

.timeEstimate {
  font-size: 0.75rem;
  grid-area: time;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--color-neutrals-500);
  padding: 0.3rem 0 0.2rem 1.2rem;
  background-image: url('../images/clock.svg');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  max-width: calc(100% - 4rem);
  color: var(--color-neutrals-600);
  flex: 1;
}
