header.Header--main {
  // TODO: fix this for mobile
  background-image: linear-gradient(
    var(--color-neutrals-100),
    var(--color-neutrals-100) 30px,
    var(--color-white) 30px
  );
  border-bottom: 1px solid var(--color-neutrals-100);

  .u-container {
    display: grid;
    grid-template-areas: 'nr nr tools' 'title main main';

    @media (max-width: 760px) {
      grid-template-columns: 1fr 3rem;
      grid-template-areas: 'title menu' 'nr nr' 'main main' 'tools tools';
    }
  }

  // TODO: fix this on mobile
  .Header-title {
    grid-area: title;
    margin: 0;
    margin-top: 0.5rem;

    .Header-title-logo {
      width: 247px;
      height: 64px;
      margin-right: 1rem;
      background-image: url('../images/developers-logo.svg');
    }
  }

  .HamburgerMenu {
    display: none;
    grid-area: menu;
    align-items: end;

    @media (max-width: 760px) {
      display: block;
    }
  }

  .Header-nav--nr {
    grid-area: nr;
  }

  .Header-nav--nr a:not(.logo) {
    color: var(--color-neutrals-600);
    font-size: 0.7rem;
    padding: 4px 9px;
    line-height: 22px;

    &:hover,
    &.is-active {
      background-color: var(--color-neutrals-200);
      color: var(--color-neutrals-700);
    }
  }

  .logo {
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .Header-nav--nr .Header-nav-logo--nr {
    width: 79px;
    height: 15px;
    margin: 0.5rem;
    margin-right: 1.5rem;
    background-image: url('../images/NewRelic-logo.png');
  }

  .Header-nav--tools {
    grid-area: tools;

    ul {
      justify-content: flex-end;
    }
  }

  // TODO: fix this on mobile
  .Header-nav--tools .Header-nav-logo--github {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0.4rem;
    opacity: 0.6;
    background-image: url('../images/GitHub-logo.png');

    &:hover {
      opacity: 1;
    }
  }

  .Header-nav--main {
    grid-area: main;
    align-self: center;

    ul {
      justify-content: flex-end;
    }
  }

  .Header-nav--main a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.6rem;
    color: var(--color-neutrals-900);

    &:hover {
      color: var(--color-brand-900);
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    display: flex;
  }

  h3 {
    margin: 0;
    padding: 1rem 0.6rem 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li:first-child > a {
      padding-left: 0;
    }

    li:last-child > a {
      padding-right: 0;
    }

    @media (max-width: 760px) {
      display: block;

      li:first-child > a,
      li:last-child > a {
        padding: 0.6rem;
      }
    }
  }

  img {
    height: 1.2rem;
    vertical-align: middle;
    padding-bottom: 0.1rem;

    @media (max-width: 760px) {
      margin-right: 0.5rem;
    }
  }

  nav {
    @media (max-width: 760px) {
      display: none;
    }
  }

  &.is-open nav {
    @media (max-width: 760px) {
      background-color: var(--color-white);
      display: block;
    }
  }

  .u-hideOnDesktop {
    display: none;

    @media (max-width: 760px) {
      display: block;
    }
  }

  .u-hideOnMobile {
    @media (max-width: 760px) {
      display: none;
    }
  }
}
