.main {
  background-image: linear-gradient(
    var(--color-neutrals-100),
    var(--color-neutrals-100) 30px,
    var(--color-white) 30px
  );
  border-bottom: 1px solid var(--color-neutrals-100);

  @media (max-width: 760px) {
    background-image: linear-gradient(
      var(--color-white),
      var(--color-white) 4.5rem,
      var(--color-neutrals-100) 4.5rem
    );
  }

  :global(.u-container) {
    display: grid;
    grid-template-areas: 'nr nr tools' 'title main main';

    @media (max-width: 760px) {
      grid-template-columns: 1fr 4rem;
      grid-template-areas: 'title menu' 'nr nr' 'main main' 'tools tools';
    }
  }

  .hamburgerMenu {
    display: none;
    grid-area: menu;
    align-items: end;

    @media (max-width: 760px) {
      display: block;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    display: flex;
  }

  h3 {
    margin: 0;
    padding: 1rem 0.6rem 0.4rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li:first-child > a {
      padding-left: 0;
    }

    li:last-child > a {
      padding-right: 0;
    }

    @media (max-width: 760px) {
      display: block;

      li:first-child > a {
        padding-left: 0.6rem;
      }
    }
  }

  img {
    height: 1.2rem;
    vertical-align: middle;
    padding-bottom: 0.1rem;

    @media (max-width: 760px) {
      margin-right: 0.5rem;
    }
  }

  nav {
    @media (max-width: 760px) {
      display: none;
    }
  }

  &.isOpen nav {
    @media (max-width: 760px) {
      display: block;
    }
  }
}

.navMain {
  grid-area: main;
  align-self: center;

  ul {
    justify-content: flex-end;
  }

  a {
    font-family: var(--primary-font-family);
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.6rem;
    color: var(--color-neutrals-900);

    @media (max-width: 760px) {
      font-weight: 400;
      padding: 4px 9px;
      line-height: 22px;
    }

    &:hover {
      color: var(--color-brand-900);
    }
  }
}

.navNr {
  grid-area: nr;

  a:not(.logo) {
    color: var(--color-neutrals-600);
    font-size: 0.7rem;
    padding: 4px 9px;
    line-height: 22px;

    @media (max-width: 760px) {
      background: none;
      color: var(--color-neutrals-900);
      font-size: 0.9rem;
    }

    &:hover,
    &.isActive {
      background-color: var(--color-neutrals-200);
      color: var(--color-neutrals-700);

      @media (max-width: 760px) {
        background: none;
        color: var(--color-neutrals-900);
      }
    }
  }
}

.logoNr {
  width: 79px;
  height: 15px;
  margin: 0.5rem;
  margin-right: 1.5rem;
  background-image: url('../images/NewRelic-logo.png');
}

.navTools {
  grid-area: tools;

  ul {
    justify-content: flex-end;
  }

  .logoGithub {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0.4rem;
    opacity: 0.6;
    background-image: url('../images/GitHub-logo.png');

    &:hover {
      opacity: 1;
    }

    @media (max-width: 760px) {
      width: 100%;
      padding-left: 1.5rem !important;
      opacity: 1;
      color: var(--color-neutrals-900);
      margin-bottom: 1rem;
    }
  }
}

.logo {
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  grid-area: title;
  margin: 0;
  margin-top: 0.5rem;
}

.titleLogo {
  width: 247px;
  height: 64px;
  margin-right: 1rem;
  background-image: url('../images/developers-logo.svg');
}

.hideOnDesktop {
  display: none;

  @media (max-width: 760px) {
    display: block;
  }
}

.hideOnMobile {
  @media (max-width: 760px) {
    display: none;
  }
}
