.iconFilter {
  padding: 1rem;
  padding-left: 0;
}

.search {
  width: 60%;
  margin: 1rem 0;
  height: auto;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}
