.button {
  border: 1px solid transparent;
  background: var(--color-white);
  border-radius: 4px;
  text-align: center;
  padding: 1rem;
  position: relative;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--color-neutrals-200);
    box-shadow: 0 2px 6px 0 rgba(22, 38, 59, 0.14);
    z-index: 1;

    .iconName {
      visibility: visible;
    }
  }
}

.icon {
  display: inline-block;
  width: 100%;
}

.iconName {
  visibility: hidden;
  background-color: var(--color-neutrals-900);
  color: var(--color-white);
  text-align: center;
  border-radius: 3px;
  padding: 0.25rem;
  position: absolute;
  font-size: 0.85rem;
  top: calc(100% + 0.5rem);
  right: 0;
  z-index: 1;
}
