.iconFilter {
  padding: 1rem;
  padding-left: 0;

  input {
    width: 60%;
    padding: 0.5rem;
  }
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;

  > button {
    border: 1px solid var(--color-neutrals-100);
    background: var(--color-white);
    border-radius: 2px;
    text-align: center;
    padding: 0.2rem;
    position: relative;

    &:hover {
      cursor: pointer;
      border: 1px solid var(--color-neutrals-300);
      transition: all 0.4s;
      span {
        visibility: visible;
      }
    }
  }
}

.icon {
  display: inline-block;
  width: 70%;
}

.iconName {
  visibility: hidden;
  background-color: var(--color-neutrals-900);
  opacity: 0.8;
  color: var(--color-white);
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  font-size: 0.85rem;
  top: 90%;
  z-index: 1;
}
