.jumbotron {
  width: 100%;
  margin-bottom: 7.25rem;

  @media (max-width: 500px) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

// TODO: Move this into a shared component
.h1 {
  text-align: center;
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 2.5rem;
}

.callToActionContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(calc(248px - 2rem), auto);
  align-items: stretch;
  width: 100%;
  margin-top: 2rem;

  @media (max-width: 840px) {
    grid-template-columns: 1fr;
  }
}

.signUpButton {
  width: 23%;
}

.downloadButton {
  width: 60%;
}
