.layout {
  --global-header-height: 30px;
  --sidebar-width: 300px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main {
  display: flex;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-left: calc(2rem + var(--sidebar-width));

  @media screen and (max-width: 760px) {
    padding-left: 2rem;
  }
}

.sidebar {
  position: fixed;
  top: var(--global-header-height);
  bottom: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--global-header-height));
  overflow: auto;
}

.content {
  flex: 1;
}

.footer {
  border-top: 1px solid var(--color-neutrals-100);
  padding-top: 2rem;
  margin-top: 4rem;
}

.hideOnDesktop {
  @media (min-width: 760px + 1) {
    display: none;
  }
}

.hideOnMobile {
  @media (max-width: 760px) {
    display: none;
  }
}
