.container {
  > *:first-child {
    margin-top: 0;
  }

  code {
    padding: 0.125rem;
    background: var(--tertiary-background-color);
    border-radius: 2px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
