.container {
  > *:first-child {
    margin-top: 0;
  }

  code {
    padding: 0.125rem;
    border-radius: 2px;
  }

  :not(pre) > code {
    background: var(--tertiary-background-color);
  }

  p,
  ol,
  ul {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol,
  ul {
    margin-top: 0;
    padding-left: 1rem;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }

  h1,
  h2 {
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  h3,
  h4 {
    margin-top: 1rem;
    font-weight: bold;
  }

  li:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  ul li ul {
    margin-top: 1rem;
    line-height: 1;
  }
}
