.name {
  padding: 0.125rem 0.25rem;
  display: inline;
  color: var(--color-teal-500);
  background: var(--color-teal-050);
}

.description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.example:not(:last-child) {
  margin-bottom: 2rem;
}
