.container {
  position: relative;
  padding: 0 2rem;

  width: 100vw;
}

.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height-mobile-nav-bar);
}

.logo {
  display: block;
  width: 160px;
}

.navigation {
  font-size: 1rem;
  padding: 1.5rem 3rem;
  position: absolute;
  height: calc(
    100vh - (var(--height-mobile-nav-bar) + var(--height-global-header))
  );
}
