.container {
  position: relative;
  border-bottom: 1px solid var(--color-neutrals-100);
}

.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 1rem;
}

.logo {
  width: 160px;
  height: 34px;
  background-size: 160px 34px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('../images/developers-logo.svg');
}

.navigation {
  font-size: 1rem;
  padding: 1.5rem 3rem;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 90px); // todo grab height values from vars
  background-color: var(--color-white);
}
