.navLink {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: 0.2s ease-out;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  margin-left: calc((0.5rem + 1em) * -1);
  border-radius: 0.25rem;
  padding-left: calc(0.5rem + 1em);

  &:hover {
    color: var(--primary-text-hover-color);
  }

  [data-depth='0'] > & {
    padding-left: 0.5rem;
    margin-left: -0.5rem;
    font-weight: 600;
  }
}

.headerIcon {
  margin-right: 0.5rem;
}

button.navLink {
  color: var(--primary-text-color);
  background: inherit;
  border: none;
  font-size: inherit;
  font-weight: inherit;

  &:focus {
    outline: none;
  }
}

.navLinkText {
  display: flex;
  align-items: center;
}

.currentPageIndicator {
  stroke-width: 4;

  @media (max-width: 760px) {
    display: none;
  }
}

.nestedChevron {
  margin-right: 0.5rem;
  stroke-width: 4;
  transition: 0.2s;

  &.isExpanded {
    transform: rotate(90deg);
  }
}

.groupName {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.isCurrentPage {
  background: var(--color-neutrals-100);

  :global(.dark-mode) & {
    color: var(--primary-text-hover-color);
    background: var(--color-dark-100);
  }
}

.isPartiallyCurrent {
  font-weight: bold !important;
}

.filterOn {
  .groupName {
    margin-top: 0.5rem;
  }
}
