.container {
  font-size: 0.875rem;

  ul {
    margin: 0;
    padding-left: 1rem;
    list-style: none;
  }

  a {
    color: var(--color-black);
  }

  // remove?
  button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 3rem;
    display: none;
  }

  nav {
    margin-top: 1rem;
  }
}

.nestedNav {
  display: none;
}

.isDisplay {
  display: block;
}

.listNav {
  ul {
    padding-left: 1rem;
  }
}

.navDepth0 {
  color: var(--color-black);
  font-weight: bold;
  div {
    margin: 1rem 0;
  }
  li {
    margin: 1rem 0;
  }
}

.navDepth1 {
  font-weight: normal;
  ul {
    padding-left: 0.2rem;
  }
}

.navDepth2 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-neutrals-600);
  font-size: 14px;
}

.navDepth3 {
  font-weight: normal;
  text-transform: initial;
  color: var(--color-black);
}

.isCurrentPage {
  font-weight: bold;
}
