.container {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 1rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid var(--color-neutrals-200) 1px;
  }
}

.propName {
  font-weight: bold;
}

.info {
  word-break: break-all;

  h3 {
    margin-top: 0;
  }
}

.default {
  margin-top: 2rem;
  color: var(--color-neutrals-700);

  .label {
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.type {
  color: var(--color-neutrals-600);
}

.deprecation {
  padding: 0.25rem;
  background: var(--color-red-100);
  margin-bottom: 1rem;
}

.deprecationDate {
  color: var(--color-red-400);
  font-weight: 600;
  margin-bottom: 1rem;
}

.markdownContainer > *:first-child {
  margin-top: 0;
}

.details {
  &:not(:last-child):not(:empty) {
    margin-bottom: 1rem;
  }
}

.flagged {
  font-size: 0.75rem;
  color: var(--color-red-400);
  text-transform: uppercase;
  margin-left: 0.5rem;
  font-weight: bold;
}

.arg {
  padding-left: 1rem;
}

.listLike {
  font-size: 0.875rem;
  color: var(--color-neutrals-600);
  max-height: 320px;
  overflow-y: auto;
}

.shape {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  h4 {
    margin-top: 0;
    color: var(--color-neutrals-600);
  }

  .container {
    border-bottom: none;
    padding-bottom: 0;
  }
}
