.container {
  display: flex;
  border-bottom: solid var(--color-neutrals-200) 1px;
  padding-bottom: 2rem;
  margin-top: 1rem;

  h3 {
    font-size: 1.25rem;
    margin-top: 0;
  }
}

.info {
  width: 30%;

  .type {
    color: var(--color-neutrals-600);
  }

  .default {
    margin-top: 2rem;
    color: var(--color-neutrals-700);

    p:first-of-type {
      font-size: 0.75rem;
    }
  }
}

.details {
  width: 70%;

  p:first-of-type {
    margin-top: 0;
  }
}

.required {
  font-size: 0.75rem;
  color: var(--color-red-400);
  text-transform: uppercase;
  margin-left: 0.5rem;
}
