.error {
  font-size: 0.75rem;
  color: white;
  background: var(--color-red-400);
  padding: 0.5rem 1rem;
}

.preview {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
