.section {
  --surface-background-color: var(--secondary-surface-background-color);

  position: relative;
  background-color: var(--secondary-background-color);

  &.backgroundBanner {
    margin: -2rem;
    padding: 2rem;
  }
}
