.Section {
  position: relative;
}

.Section-backgroundBanner {
  position: absolute;
  background-color: var(--color-neutrals-100);
  width: 100%;
  transform: skewY(-2deg) translateY(-58px);
  z-index: -1;

  @media (max-width: 500px) {
    background-color: var(--color-white);
  }
}

.Section-backgroundBanner > * {
  transform: skewY(2deg) translateY(58px);
}
