.section {
  &.backgroundBanner {
    --surface-background-color: var(--secondary-surface-background-color);

    background-color: var(--secondary-background-color);
    margin: 0 -2rem;
    padding: 2rem;
  }
}
