.sidebar {
  padding: 2rem 0;
  border-right: 1px solid var(--color-neutrals-100);

  ul {
    margin: 0;
    padding-left: 1rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--color-black);
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }

    &.isActive {
      font-weight: bold;
    }
  }

  h3 {
    margin: 0;
  }

  button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 3rem;
    display: none;

    @media (max-width: 760px) {
      display: block;
    }
  }

  nav {
    margin-top: 1rem;

    @media (max-width: 760px) {
      display: none;
    }
  }

  &.isOpen {
    nav {
      @media (max-width: 760px) {
        display: block;
      }
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 247px;
}
