.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  p:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 760px) {
    grid-template-columns: 100%;
    grid-gap: 0;
  }
}

.spanColumns {
  grid-column: span 2;
}
