.sidebar {
  padding: 2rem;
  border-right: 1px solid var(--color-neutrals-100);

  @media screen and (max-width: 760px) {
    height: 60px;
    border-bottom: 1px solid var(--color-neutrals-100);
  }
}

.logo {
  width: 200px;

  @media screen and (max-width: 760px) {
    width: 160px;
  }
}

.nav {
  margin-top: 1rem;
}
