.wrapper {
  border-top: solid 1px var(--color-neutrals-100);
  box-sizing: border-box;
  padding-top: 1.5rem;
  margin-top: 2rem;
  .stepNumber {
    font-size: 0.75rem;
    color: var(--color-neutrals-600);
  }
  .stepTitle {
    color: var(--color-neutrals-900);
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
.container {
  display: flex;
}
.container > p {
  margin-right: 1rem;
  width: 50%;
  line-height: 1.5rem;
}
.container > pre {
  width: 50%;
  margin-left: 1rem;
}
