.wrapper {
  border-top: solid 1px var(--color-neutrals-100);
  box-sizing: border-box;
  padding-top: 1.5rem;
  margin-top: 2rem;

  .stepNumber {
    font-size: 0.75rem;
    color: var(--color-neutrals-600);
  }
}

.stepDetails {
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    color: var(--color-neutrals-900);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
