/*-- Imports --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://use.typekit.net/pnb6qnj.css');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

/*-- CSS Variables --*/
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-neutrals-050: #fafbfb;
  --color-neutrals-100: #f4f5f5;
  --color-neutrals-200: #edeeee;
  --color-neutrals-300: #e3e4e4;
  --color-neutrals-400: #d5d7d7;
  --color-neutrals-500: #b9bdbd;
  --color-neutrals-600: #8e9494;
  --color-neutrals-700: #464e4e;
  --color-neutrals-800: #2a3434;
  --color-neutrals-900: #000d0d;

  --color-brand-050: #f7ffff;
  --color-brand-100: #edffff;
  --color-brand-400: #70ccd2;
  --color-brand-800: #007e8a;
  --color-brand-900: #005054;

  --boxshadow: 0px 2.76726px 2.21381px rgba(0, 85, 90, 0.0168687),
    0px 6.6501px 5.32008px rgba(0, 85, 90, 0.0242336),
    0px 12.5216px 10.0172px rgba(0, 85, 90, 0.03),
    0px 22.3363px 17.869px rgba(0, 85, 90, 0.0357664),
    0px 41.7776px 33.4221px rgba(0, 85, 90, 0.0431313),
    0px 100px 80px rgba(0, 85, 90, 0.06);

  --color-tile-background: rgb(215, 210, 233);
  --primary-font-family: 'open sans', sans-serif;
  --secondary-font-family: 'effra', sans-serif;
  --tertiary-font-family: 'Ovo', serif;
}

/*-- Reset --*/
// https://github.com/necolas/normalize.css
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--primary-font-family);
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-brand-800);
}

img {
  border-style: none;
}

p {
  margin: 0;
  margin-top: 8px;
  color: var(--color-neutrals-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--color-neutrals-800);
  font-family: var(--primary-font-family);
}

h2 {
  font-size: 1.3em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input,
select {
  border: 1px solid var(--color-neutrals-400);
  border-radius: 4px;
  height: 2rem;
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--color-brand-800);
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid var(--color-brand-800);
  font-family: var(--primary-font-family);
  cursor: pointer;
  &.secondary {
    background-color: var(--color-white);
    color: var(--color-brand-800);
  }
}

ul {
  padding-left: 30px;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-neutrals-700);
  font-size: 1rem;
}

li {
  margin-bottom: 1rem;
}