:root {
  --height-mobile-nav-bar: 60px;
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

input[type='text'] {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.1s var(--ease-out-quad);

  &:hover {
    border-color: var(--border-hover-color);
  }
}

:global {
  .intro-text {
    color: var(--secondary-text-color);
    font-size: 1.125rem;
    line-height: 1.75;

    li:not(:last-child) {
      margin-bottom: 0.5rem !important;
    }
  }
}
