.light-mode {
  --primary-background: var(--color-white);
  --primary-text-color: var(--color-neutrals-700);
  --primary-button-background-color: var(--color-brand-800);
  --primary-surface-background-color: var(--color-white);

  --secondary-background-color: var(--color-neutrals-100);
  --secondary-text-color: var(--color-neutrals-600);
  --secondary-button-background-color: var(--color-white);
  --secondary-button-text-color: var(--color-brand-800);
  --secondary-hover-background-color: var(--color-neutrals-200);
  --secondary-hover-text-color: var(--color-neutrals-700);
  --secondary-surface-background-color: var(--color-white);

  --accent-text-color: var(--color-neutrals-500);
  --link-color: var(--color-brand-800);
  --border-color: var(--color-neutrals-400);
  --divider-color: var(--color-neutrals-100);
}

.dark-mode {
  --color-neutrals-050: #131f23;
  --color-neutrals-100: #22353c;
  --color-neutrals-200: #233940;
  --color-neutrals-300: #2a4249;
  --color-neutrals-400: #37484e;
  --color-neutrals-500: #495b5c;
  --color-neutrals-600: #7c9799;
  --color-neutrals-700: #a5bbbd;
  --color-neutrals-800: #cedede;
  --color-neutrals-900: #e8eaea;

  --primary-background-color: #1c2a2f;
  --primary-text-color: var(--color-white);
  --primary-button-background-color: var(--color-brand-800);
  --primary-button-text-color: var(--color-brand-800);
  --primary-surface-background-color: var(--primary-background-color);

  --secondary-background-color: var(--color-neutrals-100);
  --secondary-text-color: var(--color-neutrals-600);
  --secondary-button-background-color: var(--color-white);
  --secondary-button-text-color: var(--color-brand-800);
  --secondary-hover-background-color: var(--color-neutrals-300);
  --secondary-hover-text-color: var(--color-neutrals-800);
  --secondary-surface-background-color: var(--secondary-background-color);

  --accent-text-color: var(--color-neutrals-500);
  --link-color: var(--color-brand-400);
  --border-color: var(--color-neutrals-300);
  --divider-color: var(--color-neutrals-200);
}
