.layout {
  --global-header-height: 30px;
  --sidebar-width: 300px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sidebar {
  position: fixed;
  top: var(--global-header-height);
  bottom: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--global-header-height));
  overflow: auto;
}

.hideOnDesktop {
  @media (min-width: 760px + 1) {
    display: none;
  }
}

.hideOnMobile {
  @media (max-width: 760px) {
    display: none;
  }
}
