.guideListing {
  position: relative;
  margin-top: 2rem;

  :global(.u-container) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.heading {
  font-family: var(--secondary-font-family);
  font-weight: 400;
}

.description {
  max-width: 800px;
  text-align: center;
  margin-bottom: 7.5rem;
  color: var(--color-neutrals-500);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(calc(248px - 2rem), auto);
  align-items: stretch;
  width: 100%;

  @media (max-width: 840px) {
    grid-template-columns: 1fr;
  }
}
