.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(calc(248px - 2rem), auto);
  align-items: stretch;
  width: 100%;

  @media (max-width: 840px) {
    grid-template-columns: 1fr;
  }
}
